on: [ workflow_call ]

jobs:
  testing:
    runs-on: ubuntu-latest
      # This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
      # For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: 'npm'
      - run: yarn install --frozen-lockfile --non-interactive
      - name: Run test
        run: vitest run --coverage --reporter=junit --outputFile=test-report.xml
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v3
        if: always() # always run even if the previous step fails
        with:
          report_paths: 'test-report.xml'

